body {
    margin: 0px;
    padding: 0px;
}

.main-div-container {
    width: 100%;
    margin-top: 10%;
}

.main-div {
    width: 60%;
    margin: 0 auto;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main-div .error-message {
    padding: 6px;
    text-align: center;
    border: 1px solid rgb(226, 90, 90);
    background-color: rgb(224, 159, 159);
    border-radius: 4px;
}

.logo {
    width: 100px;
    height: 100px;
    float: left;
}


.clear {
    clear: both;
}

.logo, .tool-heading {
    display: inline-block;
}

.logo-div {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 150px;
    margin-left: 5px;
    perspective: 1000px;
    display: inline-block;
}

.flip-card-info {
    width: 245px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front {
    text-align: center;
}

.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);  
    -webkit-transform-style: preserve-3d;
    
    -ms-transform: rotateY(180deg);      
    -ms-transform-style: preserve-3d;
    
    transform: rotateY(180deg);          
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #ED7040;
    color: black;
    z-index: 1;
}

.flip-card-back {
    background-color: #027AA3;
    color: white;
    z-index: 2;
    -webkit-transform: rotateY(180deg);  
    -webkit-transform-style: preserve-3d;
    
    -ms-transform: rotateY(180deg);      
    -ms-transform-style: preserve-3d;
    
    transform: rotateY(180deg);          
    transform-style: preserve-3d;
    
}

.flip-card-heading {
    margin: 20% 0;
}

.upload-btn-wrapper {
    padding: 5px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    padding: 10px 5px;
    border-radius: 8px;
    font-size: 12px;
    font-family: sans-serif;
}

.btn:hover, input[type=file]:hover {
    cursor: pointer;
}

.submit-file {
    background-color: #22e214;
    padding: 4px;
    color: #000;
    border-radius: 2px; 
    border: 1px solid #1fce12;
}

.submit-file:hover {
    cursor: pointer;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.row-1 {
    width: 100%;
    margin: 0 auto;
}

.ok-div {
    width: 20%;
    margin: 0 auto;
}

.ok-div > input {
    width: 100%;
    padding: 5px 4px;
    border-radius: 4px;
    background-color: #2980b9;
    border: 0px;
    color: #fff;
    display: inline-table;
}

.form-buttons {
    width: 100%;
    display: inline-block;
}

/*.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: ;
}*/

.btn > .upload-text {
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    background: #fff;
    padding: 1px 2px;
}

.btn > .upload-text:hover {
    cursor: pointer;
}

.dataframe {
    width: 100%;   
}

.dataframe, th, td {
  border: 0px;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

.dataframe tr:nth-child(even) {
  background-color: #eee;
}

.dataframe tr:nth-child(odd) {
  background-color:#fff;
}
.dataframe th {
  background-color: black;
  color: white
}