body {
    margin: 0px;
    padding: 0px;
}

.main-div-container {
    width: 100%;
    margin-top: 10%;
}

.main-div {
    width: 50%;
    margin: 0 auto;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo, .tool-heading {
    display: inline-block;
}

.logo-div {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 150px;
    margin-left: 5px;
    perspective: 1000px;
    display: inline-block;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    
}

.flip-card-heading {
    margin: 20% 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
    padding: 50px 5px;
    border-radius: 8px;
    font-size: 15px;
    font-family: sans-serif;
}

.btn:hover, input[type=file]:hover {
    cursor: pointer;
} 

.row-1 {
    width: 100%;
    margin: 0 auto;
}

.ok-div {
    width: 20%;
    margin: 0 auto;
}

.ok-div > input {
    width: 100%;
    padding: 5px 4px;
    border-radius: 4px;
    background-color: #2980b9;
    border: 0px;
    color: #fff;
    display: inline-table;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn > .upload-text {
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    background: #fff;
    padding: 1px 2px;
}

.btn > .upload-text:hover {
    cursor: pointer;
}