<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body>

<div class="main-div-container">
    {% block main-container %}
    {% endblock %}
</div> <!-- END OF MAIN DIV -->


<!-- jQuery for check boxes -->
<script>
    $('#selectedTask').change(function() {
        var ddValue = $('#selectedTask option:selected').text();
        debugger;
        $('#dependant-var div input').each(function() {
            debugger;
            var input_value = $(this).val();
            if(ddValue == input_value) {
                $('#dependant-var div').each(function() {
                    $(this).show();
                });
                $(this).parent().hide();
            }
        });
    });

    $('#checkAll').on('click', function() {
        debugger;
        if($('#checkAll').is(':checked') == true ) {
            $('#dependant-var div input').each(function() {
            // debugger;
            $(this).attr('checked', 'true');
        });
        }
        else {
            debugger;
            $('#dependant-var div input').each(function() {
                $(this).removeAttr('checked');
            });
        }
    });
</script>
</body>
</html>