{% extends 'myapp/base.html' %}
{% load static %}
{% block main-container %}
<div class="main-div">
    <div class="header">
        <div class="logo-div">
            <img src="{% static 'myapp/img/ssitlogo.png' %}" class="logo">
            <h2 class="tool-heading">Machine Learning Work Bench</h2>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row-1">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="flip-card-heading">Forecast</h2>
                    </div>
                    <div class="flip-card-back">
                        <div class="upload-btn-wrapper">
                            <div class="btn">
                                <p class="flip-card-info">Here is a little info on what you are going to do. supported files: CSV, xlsx</p>
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-buttons">
                                        <input type="file" name="file_upload" class="browse"/>
                                        <button type="submit" class="submit-file" name="upload">Upload</button>
                                    </div>
                                </form>
                            </div>
                            <!-- <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="fileupload" />
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="flip-card-heading">Rare Event</h2>
                    </div>
                    <div class="flip-card-back">
                        <div class="upload-btn-wrapper">
                            <div class="btn">
                                <p class="flip-card-info">Here is a little info on what you are going to do. Click Upload.</p>
                                <!-- <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-buttons">
                                        <input type="file" name="file_upload" class="browse"/>
                                        <button type="submit" class="submit-file" name="upload">Upload</button>
                                    </div>
                                </form> -->
                            </div>
                            <!-- <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="fileupload" />
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="flip-card-heading">Forecast</h2>
                    </div>
                    <div class="flip-card-back">
                        <div class="upload-btn-wrapper">
                            <div class="btn">
                                <p class="flip-card-info">Here is a little info on what you are going to do. Click Upload.</p>
                                <!-- <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-buttons">
                                        <input type="file" name="file_upload" class="browse"/>
                                        <button type="submit" class="submit-file" name="upload">Upload</button>
                                    </div>
                                </form> -->
                            </div>
                            <!-- <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="fileupload" />
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="row-1">
        <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="flip-card-heading">Forecast</h2>
                    </div>
                    <div class="flip-card-back">
                        <div class="upload-btn-wrapper">
                            <div class="btn">
                                <p class="flip-card-info">Here is a little info on what you are going to do. Click Upload.</p>
                                <!-- <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-buttons">
                                        <input type="file" name="file_upload" class="browse"/>
                                        <button type="submit" class="submit-file" name="upload">Upload</button>
                                    </div>
                                </form> -->
                            </div>
                            <!-- <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="fileupload" />
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="flip-card-heading">Forecast</h2>
                    </div>
                    <div class="flip-card-back">
                        <div class="upload-btn-wrapper">
                            <div class="btn">
                                <p class="flip-card-info">Here is a little info on what you are going to do. Click Upload.</p>
                                <!-- <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-buttons">
                                        <input type="file" name="file_upload" class="browse"/>
                                        <button type="submit" class="submit-file" name="upload">Upload</button>
                                    </div>
                                </form> -->
                            </div>
                            <!-- <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="fileupload" />
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2 class="flip-card-heading">Forecast</h2>
                    </div>
                    <div class="flip-card-back">
                        <div class="upload-btn-wrapper">
                            <div class="btn">
                                <p class="flip-card-info">Here is a little info on what you are going to do. Click Upload.</p>
                                <!-- <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-buttons">
                                        <input type="file" name="file_upload" class="browse"/>
                                        <button type="submit" class="submit-file" name="upload">Upload</button>
                                    </div>
                                </form> -->
                            </div>
                            <!-- <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="fileupload" />
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>

<!-- LOADING THE DATA -->

{% if loaded_data %}
<div class="main-div">
    <h2>File Data</h2>
    {{loaded_data|safe}}
    <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>What to Predict?</p>
        <select required="required" id="selectedTask" name="selectedTask">
            <option value="select">Select Column To Predict</option>
            {% for col in columns %}
                <option value="{{col}}">{{col}}</option>
            {% endfor %}
        </select>

        <p>Mark the Columns to be Dependent or not</p>
        <div id="dependant-var">
            <div class="check-all">
                <input type="checkbox" name="checkAll" id="checkAll">
                <label>Check All</label>
            </div>
            {% for item in items %}
                <div id="cb-items-{{item}}">
                    <input type="checkbox" name="checks" id = {{item}} value="{{item}}">
                    <label>{{item}}</label><br>
                </div>
            {% endfor %}
        </div>
        <input type="hidden" name="filename" value="{{file_name}}">
        <button type="submit">Predict</button>
    </form> 
</div>
{% elif file_format_error_message %}
    <div class="main-div">
        <p class="error-message"><i class="fa fa-info-circle" aria-hidden="true"></i> {{file_format_error_message}} and try again.</p>
    </div>
{% elif fake_submit_message %}
    <div class="main-div">
        <p class="error-message"><i class="fa fa-info-circle" aria-hidden="true"></i> {{fake_submit_message}}</p>
    </div>
{% endif %}
{% endblock %}